annotated-doc @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_annotated-doc_1785335690/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1784935130617/work
anyio @ file:///C:/Users/task_177313442989302/croot/anyio_1773134518743/work
argon2-cffi @ file:///C:/Users/task_176606720590109/croot/argon2-cffi_1766067889388/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925008107/work
asttokens @ file:///C:/Users/task_177313476361522/croot/asttokens_1773135662149/work
async-lru @ file:///C:/Users/task_K7DCQYgITcq7-_0/croot/async-lru_1783505026654/work
attrs @ file:///C:/Users/task_177495967569670/croot/attrs_1774959745640/work
babel @ file:///C:/Users/task_FZywDfz0R4eUd_0/croot/babel_1786023446017/work
beautifulsoup4 @ file:///C:/Users/task_178117338662441/croot/beautifulsoup4-split_1781173627483/work
bleach @ file:///C:/Users/task_178239040119770/croot/bleach_1782390537670/work
brotlicffi @ file:///C:/Users/task_178644353310187/croot/brotlicffi_1786443946925/work
certifi @ file:///C:/Users/task_AcMfs0gtTGupp_0/croot/certifi_1785412617480/work/certifi
cffi @ file:///C:/Users/task_178669709921983/croot/cffi_1786697229960/work
charset-normalizer @ file:///C:/Users/task_GF2hTWOSQHSEO_0/croot/charset-normalizer_1782917501763/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1788802215/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cloudpickle_1765303462/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119289758/work
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643943275/work
cycler @ file:///C:/Users/task_176606794786808/croot/cycler_1766068049869/work
debugpy @ file:///C:/Users/task_Zgrxo--2RoqmN_0/croot/debugpy_1783354554848/work
decorator @ file:///C:/Users/task_178169136143637/croot/decorator_1781691431170/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dnspython_1757292856/work
email-validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1756221362582/work
executing @ file:///C:/Users/task_178782631520319/croot/executing_1787826431763/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-core_1785373461/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-cli_1784211753/work
fastar @ file:///D:/bld/bld/rattler-build_fastar_1787239222/work
fastjsonschema @ file:///C:/Users/task_178646073603365/croot/python-fastjsonschema_1786461285007/work
fonttools @ file:///C:/Users/task_178107561952622/croot/fonttools_1781075736132/work
greenlet @ file:///D:/bld/bld/rattler-build_greenlet_1789809525/work
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280755/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httptools @ file:///D:/bld/httptools_1788525632909/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447370855/work
idna @ file:///C:/Users/task_178056145740727/croot/idna_1780561529784/work
ipykernel @ file:///C:/Users/task_XpcUUV2hTUSCK_0/croot/ipykernel_1785763873743/work
ipython @ file:///C:/Users/task_a0AMHq84QjSHR_0/croot/ipython_1784577048542/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
ipywidgets @ file:///C:/Users/task_177149939157920/croot/ipywidgets_1771500064522/work
jedi @ file:///C:/Users/task_177868147690414/croot/jedi_1778681783174/work
Jinja2 @ file:///C:/Users/task_178782644165754/croot/jinja2_1787826525934/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_joblib_1788177170/work
json5 @ file:///C:/Users/task_fJP0bEAHRjOVO_0/croot/json5_1786363619190/work
jsonschema @ file:///C:/Users/task_178731913082300/croot/jsonschema_1787319282591/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788642063/work
jupyter @ file:///C:/b/abs_32aohix0i1/croot/jupyter_1737645821205/work
jupyter-console @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jupyter_console_1707430148515/work
jupyter-events @ file:///C:/Users/task_177806693165370/croot/jupyter_events_1778067291474/work
jupyter-lsp @ file:///C:/Users/task_176977265323498/croot/jupyter-lsp_1769772761338/work
jupyter_client @ file:///C:/Users/task_178118336700820/croot/jupyter_client_1781183443425/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588340612/work
jupyter_server @ file:///C:/Users/task_178239988992196/croot/jupyter_server_1782400800319/work
jupyter_server_terminals @ file:///C:/Users/task_177028942035208/croot/jupyter_server_terminals_1770289557502/work
jupyterlab @ file:///C:/Users/task_178704734860416/croot/jupyterlab_1787047492683/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/Users/task_176962943097182/croot/jupyterlab_server_1769629894745/work
jupyterlab_widgets @ file:///home/task_178878329407611/croot/jupyterlab_widgets_1788783342319/work
kiwisolver @ file:///C:/Users/task_Ywen9ju6Q5iUd_0/croot/kiwisolver_1786023441741/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1778169583724/work
MarkupSafe @ file:///C:/Users/task_178239075861270/croot/markupsafe_1782390849465/work
matplotlib==3.11.0
matplotlib-inline @ file:///C:/Users/task_co0RcJwiSpeRz_0/croot/matplotlib-inline_1784795473136/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mistune @ file:///C:/Users/task_QTcRieWCQ7Gho_0/croot/mistune_1783704056338/work
narwhals @ file:///C:/Users/task_Pbzo0V9fSAmZ4_0/croot/narwhals_1783944154627/work
nbclient @ file:///C:/Users/task_178248421813550/croot/nbclient_1782484537623/work
nbconvert @ file:///C:/Users/task_178239098040225/croot/nbconvert-meta_1782391073612/work
nbformat @ file:///C:/Users/task_178653458499752/croot/nbformat_1786534676305/work
nest-asyncio2 @ file:///C:/Users/task_PiBcp5WbS1ON-_0/croot/nest-asyncio2_1785322580285/work
notebook @ file:///C:/Users/task_cQJdJKeKT6-ro_1/croot/notebook_1783949931570/work
notebook_shim @ file:///C:/Users/task_176962941563126/croot/notebook-shim_1769629909840/work
numpy @ file:///D:/bld/bld/rattler-build_numpy_1788731996/work/dist/numpy-2.5.3-cp312-cp312-win_amd64.whl#sha256=263dfb06243b5db0c5ff5a0ab551c9a12be9b6e1aa4fb6f7c7da6ccc9544d900
packaging==26.3
pandas @ file:///C:/Users/task_XNtQ82uvQdi2V_0/croot/pandas_1785760252112/work
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977625907/work
parso @ file:///C:/Users/task_177867414302146/croot/parso_1778674212709/work
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs @ file:///C:/Users/task_GH__lLuySmO8S_0/croot/platformdirs_1785312171341/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
prometheus_client @ file:///C:/Users/task_177273343012619/croot/prometheus_client_1772733495064/work
prompt_toolkit @ file:///C:/Users/task_XEhYrS5UQT6nU_0/croot/prompt-toolkit-split_1785325265778/work
psutil @ file:///C:/Users/task_cUNPea7uRE2ln_0/croot/psutil_1784875525622/work
psycopg2 @ file:///D:/bld/psycopg2-split_1756315510292/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067062212/work
pycparser @ file:///C:/Users/task_177495970455161/croot/pycparser_1774959805958/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1787941273/work
pydantic-extra-types @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-extra-types_1773664659/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-settings_1786146776/work
pydantic_core @ file:///D:/bld/bld/rattler-build_pydantic-core_1787928986/work
Pygments @ file:///C:/Users/task_177512674175235/croot/pygments_1775127041713/work
pyparsing @ file:///C:/Users/task_178652795117626/croot/pyparsing_1786528195676/work
PyQt5==5.15.9
PyQt5-sip @ file:///D:/bld/pyqt-split_1695418044683/work/pyqt_sip
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030940/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1787003234/work
python-json-logger @ file:///C:/Users/task_178664370030075/croot/python-json-logger_1786643922407/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-multipart_1780610429/work
pywin32 @ file:///C:/Users/task_178231570170545/croot/pywin32_1782315860130/work
pywinpty @ file:///C:/Users/task_177521347091837/croot/pywinpty_1775213565643/work/pywinpty-src
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465556755/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375609374/work
qtconsole @ file:///C:/Users/task_177667051468024/croot/qtconsole_1776670643428/work
QtPy @ file:///C:/miniconda3/conda-bld/qtpy_1757531170157/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536906757/work
requests @ file:///C:/Users/task_178034872674435/croot/requests_1780348793403/work
rfc3339-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3339-validator_1699543924991/work
rfc3986-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3986-validator_1699543955651/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1788918484/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366604816/work
scikit-learn @ file:///C:/Users/task_178153015921701/croot/scikit-learn_1781530284599/work
scikit-surprise @ file:///D:/bld/scikit-surprise_1780386113021/work
scipy @ file:///D:/bld/scipy-split_1781912173213/work/dist/scipy-1.18.0-cp312-cp312-win_amd64.whl#sha256=cc51b4d86615cd5f03482651a65f1b6a85a6aff1abd5b743640bca35fa93eee8
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
Send2Trash @ file:///C:/Users/task_176817069615920/croot/send2trash_1768170818653/work
setuptools==83.0.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1762858192781/work
sip @ file:///D:/bld/sip_1697300573642/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
soupsieve @ file:///C:/Users/task_Urw-CcT3QhiQC_0/croot/soupsieve_1783697247128/work
SQLAlchemy @ file:///D:/bld/bld/rattler-build_sqlalchemy_1786535215/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067057854/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_starlette_1786315934/work
terminado @ file:///C:/Users/task_176959141859340/croot/terminado_1769591760492/work
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361791480/work
tinycss2 @ file:///C:/miniconda3/conda-bld/tinycss2_1764949123118/work
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
tornado @ file:///C:/Users/task_178231409048749/croot/tornado_1782314859353/work
traitlets @ file:///C:/Users/task_177874328087517/croot/traitlets_1778743402902/work
typer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typer_1787921102/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing-inspection_1786818918/work
typing_extensions @ file:///C:/Users/task_fy7J-zTYSKin8_0/croot/typing_extensions_1784101044383/work
tzdata @ file:///home/task_178834294813729/croot/python-tzdata_1788343367872/work
urllib3 @ file:///C:/Users/task_177853580413500/croot/urllib3_1778536213663/work
uvicorn @ file:///D:/bld/bld/rattler-build_uvicorn_1787133011/work
watchfiles @ file:///D:/bld/bld/rattler-build_watchfiles_1781180334/work
wcwidth @ file:///C:/Users/task_AI5EZ5QQSaqs8_0/croot/wcwidth_1783583518261/work
webencodings @ file:///C:/Users/task_178843772589903/croot/webencodings_1788437962341/work
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
websockets @ file:///D:/bld/bld/rattler-build_websockets_1788618418/work/dist
wheel==0.47.0
widgetsnbextension @ file:///C:/Users/task_178878336890109/croot/widgetsnbextension_1788783449636/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278813/work
